<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfkj.nlmis.dao.FeeDetailEntityMapper">
  <resultMap id="BaseResultMap" type="com.dfkj.nlmis.model.FeeDetailEntity">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="INJURY_NAME" jdbcType="VARCHAR" property="injuryName" />
    <result column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName" />
    <result column="SPEC" jdbcType="VARCHAR" property="spec" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="ITEM_NUMBER" jdbcType="VARCHAR" property="itemNumber" />
    <result column="AMOUNT" jdbcType="VARCHAR" property="amount" />
    <result column="SELF_AMOUNT" jdbcType="VARCHAR" property="selfAmount" />
    <result column="INJURED_ID" jdbcType="VARCHAR" property="injuredId" />
    <result column="ACT_DATE" jdbcType="DATE" property="actDate" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CXHNWX.T_FEE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dfkj.nlmis.model.FeeDetailEntity">
    insert into CXHNWX.T_FEE_DETAIL (ID, INJURY_NAME, ITEM, 
      ITEM_NAME, SPEC, PRICE, 
      ITEM_NUMBER, AMOUNT, SELF_AMOUNT, 
      INJURED_ID, ACT_DATE, STATUS
      )
    values (#{id,jdbcType=VARCHAR}, #{injuryName,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, 
      #{itemName,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, 
      #{itemNumber,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{selfAmount,jdbcType=VARCHAR}, 
      #{injuredId,jdbcType=VARCHAR}, #{actDate,jdbcType=DATE}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dfkj.nlmis.model.FeeDetailEntity">
    update CXHNWX.T_FEE_DETAIL
    set INJURY_NAME = #{injuryName,jdbcType=VARCHAR},
      ITEM = #{item,jdbcType=VARCHAR},
      ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      SPEC = #{spec,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=VARCHAR},
      ITEM_NUMBER = #{itemNumber,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=VARCHAR},
      SELF_AMOUNT = #{selfAmount,jdbcType=VARCHAR},
      INJURED_ID = #{injuredId,jdbcType=VARCHAR},
      ACT_DATE = #{actDate,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ID, INJURY_NAME, ITEM, ITEM_NAME, SPEC, PRICE, ITEM_NUMBER, AMOUNT, SELF_AMOUNT, 
    INJURED_ID, ACT_DATE, STATUS
    from CXHNWX.T_FEE_DETAIL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, INJURY_NAME, ITEM, ITEM_NAME, SPEC, PRICE, ITEM_NUMBER, AMOUNT, SELF_AMOUNT, 
    INJURED_ID, ACT_DATE, STATUS
    from CXHNWX.T_FEE_DETAIL
  </select>
</mapper>